*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration: none;}
body{user-select: none;overflow-x: hidden;
    width: 100%;}
html{
    width: 100%;
}



#myBlog{
    overflow: hidden;
    width: 100%;
    background: rgb(239,239,239);
}