@charset "utf-8";

@media screen and (min-width: 1180px) and (max-width: 1282px) {
    #blog-topNav .topNavMsg{
        width: 100%;
    }
    #mainBlog{
        width: 100%;
    }
    .blogRight{
        width: calc( 100% - 364.08px );
    }
}