@charset "utf-8";

@media screen and (max-width: 460px) {
    .blogRight{
        width: 450px;
    }
    #mainBlog{
        width: 100%;
        display: block;
        text-align: center;
        /*flex-wrap: wrap;*/
    }
    .blogLeft{
        display: inline-block;
        /*width: 404px;*/
        width: 80%;
    }
    .blogRight{
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }
    .blogRight ul{
        display: inline-block;
    }
    .mini{
        display: block;
    }
    .topRight{
        display: none;
    }
    #blog-topNav .topNavMsg{
        width: 100%;
    }
    .blogRight ul{
        width: 370px;
    }
    .blogRight li{
        width: 100%;
    }
    .rightIcon img{
        width: 100%;
    }
}